<head>
    <style>
        span {
            font-size: 15px;
        }
        .vertical {
            border-left: 6px solid black;
            height: 200px;
            position:absolute;
            left: 50%;
        }
        .pro {
            float: left;
        }
        .con {
            float: right;
        }
    </style>
</head>
<h1>{{topic_name}}<h1>

<div class="pro">
    <h5>Pro</h5>
    <span>{{content}}</span>
</div>

<div class="vertical"></div>

<div class="con">
    <h5>Con</h5>
    <span>{{content}}</span>
</div>
